.rightPanelContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.battlePassCard {
  background: linear-gradient(
    225deg,
    rgba(21, 229, 184, 0.05) 0%,
    rgba(201, 134, 19, 0.6) 50%,
    rgba(255, 157, 0, 0.07) 100%
  ) !important;

  backdrop-filter: blur(12px);
  border: 1px solid var(--mta-border);
  border-radius: 12px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bpTitle {
  font-size: 24px;
  font-weight: 900;
  color: var(--mta-orange);
  font-style: italic;
  letter-spacing: -1px;
  text-shadow: 0 0 15px rgba(255, 157, 0, 0.4);
}

.bpImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom right;
  filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.5));
}

.contentOverlay {
  position: relative;
  z-index: 2;
}
.imageContainer {
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 100%;
  height: 80%;
  z-index: 1;
  pointer-events: none;
}

.seasonTimer {
  background: rgba(0, 0, 0, 0.6);
  padding: 5px 12px;
  border-radius: 20px;
  border: 1px solid rgba(255, 157, 0, 0.3);
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.shopButton {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 50px;
  border-radius: 8px;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.shopButton:hover {
  background: rgb(70, 69, 69);
}

.shopButton:hover span {
  color: black;
}

.shopText {
  font-weight: 800;
  font-size: 12px;
  color: var(--mta-tab-color-hover);
  letter-spacing: 1px;
}
